* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

button {
  width: 100px;
  height: 50px;
  border-radius: 45px;
  margin: 10px 20px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
button:hover {
  cursor: pointer;
  background: #2ee59d;
  color: white;
  transform: translateY(-7px);
}
button[data-stop]:hover {
  background: #e52e56;
  color: white;
  transform: translateY(-7px);
}

.value {
  font-size: 40px;
}
.label {
  text-transform: uppercase;
}
